<a href="https://colab.research.google.com/github/qrvdelossantos/CPE-311/blob/main/Hands_on_Activity_6_1_%7C_Introduction_to_Data_Analysis_and_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name:** Delos Santos, Rizaldy V.<br>
**Course & Section:** CPE 311-CPE22S3<br>
**Date:** 02/12/2026<br>
**Prof:** Engr. Neal Barton James Matira

Exercise 1

In [24]:
import random
from collections import Counter
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [23]:
#Mean
mean = sum(salaries) / len(salaries)

In [10]:
#Mode
counts = Counter(salaries)
mode_val = max(counts, key=counts.get)

In [6]:
#Median
sorted_salaries = sorted(salaries)
n = len(sorted_salaries)
if n % 2 == 0:
    median_val = (sorted_salaries[n//2 - 1] + sorted_salaries[n//2]) / 2
else:
    median_val = sorted_salaries[n//2]

In [14]:
mean_val = sum(salaries) / n
variance_val = sum((x - mean_val)**2 for x in salaries) / (n - 1)

In [18]:
#
std_dev_val = variance_val
std_dev_val = variance_val**0.5

In [19]:
print(salaries)
print(mean_val)
print(mode_val)
print(median_val)
print(std_dev_val)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]
585690.0
477000.0
589000.0
265827.11382484

In [37]:
average = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1

x_xmean_squared = []
for salary in salaries:
    temp = (salary - average) ** 2
    x_xmean_squared.append(temp)

summation = sum(x_xmean_squared)
variance = summation / len_minus_one
print(variance)

70664054444.44444

Exercise 2

In [30]:
# Range
import statistics
range_val = max(salaries) - min(salaries)

In [31]:
cv_val = statistics.stdev(salaries) / statistics.mean(salaries)

In [61]:
q1 = statistics.quantiles(salaries, n=4)[0]
q3 = statistics.quantiles(salaries, n=4)[2]
iqr_val = q3 - q1

Exercise 3

In [40]:
import pandas as pd
import numpy as np
df = pd.read_csv("diabetes.csv")

In [54]:

print("Column Names:", df.columns.tolist())

print("Data Types:\n", df.dtypes)

print("Total Records:", len(df))

print("First 20 Records:\n", df.head(20))

print("Last 20 Records:\n", df.tail(20))

df.rename(columns={"Outcome": "Diagnosis"}, inplace=True)

Column Names: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Diagnosis', 'Classification']
Data Types:
 Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Diagnosis                     int64
Classification               object
dtype: object
Total Records: 768
First 20 Records:
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6

    DiabetesPedigreeFunction  Age  Diagnosis Classification
0                      0.627   50          1       Diabetes
1                      0.351   31          0    No Diabetes
2                      0.672   32          1       Diabetes
3                      0.167   21          0    No Diabetes
4                      2.288   33          1       Diabetes
5                      0.201   30          0    No Diabetes
6                      0.248   26          1       Diabetes
7                      0.134   29          0    No Diabetes
8                      0.158   53          1       Diabetes
9                      0.232   54          1       Diabetes
10                     0.191   30          0    No Diabetes
11                     0.537   34          1       Diabetes
12                     1.441   57          0    No Diabetes
13                     0.398   59          1       Diabetes
14                     0.587   51          1       Diabetes
15                     0.484   32          1       Diabetes
16                     0.551   31          1       Diabetes
17                     0.254   31          1       Diabetes
18                     0.183   33          0    No Diabetes
19                     0.529   32          1       Diabetes
Last 20 Records:
      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
748            3      187             70             22      200  36.4
749            6      162             62              0        0  24.3
750            4      136             70              0        0  31.2
751            1      121             78             39       74  39.0
752            3      108             62             24        0  26.0
753            0      181             88             44      510  43.3
754            8      154             78             32        0  32.4
755            1      128             88             39      110  36.5
756            7      137             90             41        0  32.0
757            0      123             72              0        0  36.3
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Diagnosis Classification
748                     0.408   36          1       Diabetes
749                     0.178   50          1       Diabetes
750                     1.182   22          1       Diabetes
751                     0.261   28          0    No Diabetes
752                     0.223   25          0    No Diabetes
753                     0.222   26          1       Diabetes
754                     0.443   45          1       Diabetes
755                     1.057   37          1       Diabetes
756                     0.391   39          0    No Diabetes
757                     0.258   52          1       Diabetes
758                     0.197   26          0    No Diabetes
759                     0.278   66          1       Diabetes
760                     0.766   22          0    No Diabetes
761                     0.403   43          1       Diabetes
762                     0.142   33          0    No Diabetes
763                     0.171   63          0    No Diabetes
764                     0.340   27          0    No Diabetes
765                     0.245   30          0    No Diabetes
766                     0.349   47          1       Diabetes
767                     0.315   23          0    No Diabetes

In [55]:

df["Classification"] = df["Diagnosis"].apply(lambda x: "Diabetes" if x == 1 else "No Diabetes")

withDiabetes = df[df["Diagnosis"] == 1]

noDiabetes = df[df["Diagnosis"] == 0]

Pedia = df[df["Age"] <= 19]

Adult = df[df["Age"] > 19]

avg_age = np.mean(df["Age"])
avg_glucose = np.mean(df["Glucose"])
print("Average Age:", avg_age)
print("Average Glucose:", avg_glucose)

Average Age: 33.240885416666664
Average Glucose: 120.89453125

In [56]:
median_age = np.median(df["Age"])
median_glucose = np.median(df["Glucose"])
print("Median Age:", median_age)
print("Median Glucose:", median_glucose)

Median Age: 29.0
Median Glucose: 117.0

In [58]:
middle_age = np.percentile(df["Age"], 50)
middle_glucose = np.percentile(df["Glucose"], 50)
print("Middle Age:", middle_age)
print("Middle Glucose:", middle_glucose)

Middle Age: 29.0
Middle Glucose: 117.0

In [57]:
std_skin = np.std(df["SkinThickness"])
print("Standard Deviation of SkinThickness:", std_skin)

Standard Deviation of SkinThickness: 15.941828626496978

Conclusion: <br>
In this activity i'll learned about the Data collection  that data collection is the natural first step for any data analysis we can't analyze data we don't have. In reality, our analysis can begin even before we have the data: when we decide what we want to investigate or analyze, we have to think of what kind of data we can collect that will be useful for our analysis. While data can come from anywhere